.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  cursor: pointer;
}

.breadcrumbs__button {
  padding: 0;
  font-size: 0.9rem;
  color: #7e9cd8;
  background: none;
  border: none;
  cursor: pointer;
}

.breadcrumbs__separator {
  padding-inline: 8px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.main-information {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 8px;
}

.name {
  margin-block: 0;
  font-family: "Mona Sans Bold";
  font-size: 1.6rem;
}

.version {
  margin-block: 0;
  font-family: "Mona Sans Italic";
  font-size: 1.4rem;
}

.author {
  margin-block: 0;
  font-size: 1.2rem;
}

.depth {
  position: relative;
  bottom: 2px;
  margin-inline-start: 8px;
}

.links {
  display: flex;
  gap: 8px;
}

.links__icon {
  position: relative;
  top: 6px;
}
