@font-face {
  font-family: "Mona Sans Regular";
  src: url("./assets/mona-sans-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans Bold";
  src: url("./assets/mona-sans-bold.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Mona Sans Italic";
  src: url("./assets/mona-sans-regular-italic.woff2") format("woff2");
  font-weight: normal;
  font-style: italic;
  font-display: swap;
}

:root {
  font-family: "Mona Sans Regular", system-ui, Avenir, Helvetica, Arial,
    sans-serif;
  line-height: 1.5;
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizelegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-size-adjust: 100%;
}

body {
  margin: 0;
}
